<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>Mafia</title>

    <link rel="stylesheet" href="css/style.css">

</head>

<body>

<html ng-app="ionicApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Mafia</title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
    <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>

  <body ng-app="ionicApp">
      <ion-nav-bar class="bar-light">
          <ion-nav-back-button>
          </ion-nav-back-button>
      </ion-nav-bar>

      <ion-nav-view></ion-nav-view>

      <script id="templates/intro.html" type="text/ng-template">
          <ion-view view-title="">
          <ion-nav-buttons side="left">
        <button class="button button-positive button-clear no-animation"
          ng-click="startApp()" ng-show="!slideIndex">
          Skip Introduction
        </button>
        <button class="button button-positive button-clear no-animation"
          ng-click="previous()" ng-show="slideIndex > 0">
          Previous
        </button>
          </ion-nav-buttons>
          <ion-nav-buttons side="right">
        <button class="button button-positive button-clear no-animation"
          ng-click="next()" ng-show="slideIndex != 2">
          Next
        </button>
        <button class="button button-positive button-clear no-animation"
          ng-click="startApp()" ng-show="slideIndex == 2">
          Start
        </button>
          </ion-nav-buttons>
          <ion-slide-box on-slide-changed="slideChanged(index)">
          <ion-slide>
          <h2>Welcome to Mafia!</h2>
          <div id="logo">
          <img src="/img/mafia.png"width="200" height="200">
          </div>
          <h3>
          This is an introduction
          </h3>

          </ion-slide>
          <ion-slide>
          <h3>Getting Started:</h3>

          <div id="list">
          <ol>
          <li>Create a game room for your players or join an existing game room</li>
          <li>Create a username and hit the Ready button</li>
          <li>Each player is randomly assigned a role</li>
          <li>Have fun!</li>
          </ol>
          </div>
          </ion-slide>
          <ion-slide>

          <h3>Rules:</h3>
          <div id="list">
          <ol>
          <li>Night phase - Mafias vote on a player to murder</li>
          <li>Day phase - Players vote on who they think the mafias are to eliminate them from the game </li>
          <li>All players that are murdered or eliminated are removed from the game. They are not allowed to communicate with other players</li>
          <li>Mafia wins when all the innocent players are murdered</li>
          <li>Innocent players win when all the mafia has been eliminated</li>  
          </ol>
          </div>

          </ion-slide>
          </ion-slide-box>
          </ion-view>
    </script>

    <script id="templates/main.html" type="text/ng-template">
          <ion-view hide-back-button="false" view-title="">
          <div id="logo">
          <img src="http://fc06.deviantart.net/fs6/i/2005/104/9/2/Mafia__The_Wallpaper_by_Ka0z.jpg"width="300" height="300">
          </div>
          <a href="#/createroom" class="button button-royal button-block">Create A New Room</a>
          <a href="#/findaroom" class="button button-positive button-block">Join A Room</a>
          </ion-content>
          </ion-view></script>
    </script>
     <script id="page9.html" type="text/ng-template">
          <ion-view title="Create Room">
          <ion-content padding="true" scroll="false">
          <div id="logo2">
          <img src="http://images.clipartpanda.com/mafia-clipart-bigger-version-hi.png"width="150" height="150">
          </div>
          <form action = "/" method = "post">
          <label class="item item-input">
          <span class="input-label">Room name</span>
          <input type="text" placeholder="classic-mafia" name = "room_name">
          </label>
          <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="Password" placeholder="" name = "room_password">
          </label>
          <input type = "submit" value = "Create" class="button button-dark button-block">
          </form>
          </ion-content>
          </ion-view>
    </script>
   <script id="page10.html" type="text/ng-template">
          <ion-view title="Please Wait...">
          <ion-content padding="true" scroll="false">
          <div id="logo3">
          <img src="http://images.clipartpanda.com/mafia-clipart-bigger-version-hi.png"width="150" height="150">
          </div>
          <form action = "/newuser" method = "post">
            <label class="item item-input">
            <span class="input-label">Your Name</span>
            <input type="text" value="{{name}}" name = "username">
            </label>          
            <input type = "submit" value = "Ready to Play!" class="button button-positive button-block">
          </form>
          
          </ion-content>
          </ion-view></script>
      <script id="page11.html" type="text/ng-template">
          <ion-view title="Find A Room">  
          <ion-content padding="true" class="has-header">
          <div id="logo3">
          <img src="http://images.clipartpanda.com/mafia-clipart-bigger-version-hi.png"width="150" height="150">
          </div>          

          <form action = "/joinroom" method = "post">
          <label class="item item-input">
          <span class="input-label">Room name</span>
          <input type="text" placeholder="classic-mafia" name = "room_name">
          </label>
          <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="Password" placeholder="" name = "room_password">
          </label>
          <input type = "submit" value = "Join" class="button button-dark button-block">
          </form>

          </ion-content>
          </ion-view>
      </script>
 <script id="page12.html" type="text/ng-template">
<ion-view title="Night Phase">
    <ion-content padding="true" class="has-header">
        <div style="line-height: 250px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <ion-list></ion-list>
        <ion-list>
            <label class="item item-select">
                <span class="input-label"></span>
                <select></select>
            </label>
        </ion-list>
        <a href="#/day" class="button button-assertive button-block">Kill</a>
    </ion-content>
</ion-view></script>
<script id="page13.html" type="text/ng-template">
<ion-view title="Night">
    <ion-content padding="true" class="has-header">
        <div style="line-height: 250px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
    </ion-content>
</ion-view></script>
<script id="page14.html" type="text/ng-template">
<ion-view title="Day Phase">
    <ion-content padding="true" class="has-header">
        <div style="line-height: 250px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <h3>Player X has been murdered by the mafia</h3>
        <a href="#/vote" class="button button-assertive button-block">Find the Mafia!</a>
    </ion-content>
</ion-view></script>
<script id="page15.html" type="text/ng-template">
<ion-view title="Vote">
    <ion-content padding="true" class="has-header">
        <div style="line-height: 250px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <form>
            <label class="item item-select">
                <span class="input-label">Input</span>
                <select></select>
            </label>
            <h4>Who do you think the Mafia is?</h4>
        </form>
        <a href="#/execute" class="button button-assertive button-block">Vote</a>
    </ion-content>
</ion-view></script>
<script id="page16.html" type="text/ng-template">
<ion-view title="Eliminate">
    <ion-content padding="true" class="has-header">
        <div style="line-height: 250px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <h3>Player X has been voted out of the game</h3>
        <a href="#/nightmafia" class="button button-positive button-block">Start next phase</a>
    </ion-content>
</ion-view></script>
<script id="page17.html" type="text/ng-template">
<ion-view title="Page">
    <ion-content padding="true" class="has-header"></ion-content>
</ion-view></script>
<script id="page18.html" type="text/ng-template">
<ion-view title="Page">
    <ion-content padding="true" class="has-header"></ion-content>
</ion-view></script>
<script id="page19.html" type="text/ng-template">
<ion-view title="Page">
    <ion-content padding="true" class="has-header"></ion-content>
</ion-view></script>
  </body>
</html>